services:
  # NOTE: used in pipeline, volumes don't work in pipeline
  db:
    image: mariadb:${DB_VERSION}
    container_name: dev_db
    ports:
      - ${DB_PORT}:${DB_PORT}
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      TZ: ${TZ}
    healthcheck:
      test: mariadb-admin ping -u root -p${DB_ROOT_PASSWORD}
      start_period: 10s
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - ./volumes/db/:/var/lib/mysql/
    networks:
      zabbix:
      web:
    
  backend:
    depends_on: 
      db: 
        condition: service_healthy
    image: dev_${API_NAME}
    build:
      context: .
      args:
        JAVA_RUNTIME_ARGS: ${JAVA_RUNTIME_ARGS}
    container_name: backend
    ports: 
      - ${PORT}:${PORT}
    environment:
      MAIL_HOST: maildev
      DB_HOST: db
      TZ: ${TZ}
    healthcheck:
      test: wget --no-verbose --no-check-certificate --tries=1 --spider http://backend:${PORT}/app-user/check-logged-in || exit 1
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 20s
    networks:
      - web

  maildev:
    image: maildev/maildev
    container_name: dev_maildev
    ports: 
      - ${MAIL_PORT}:${MAIL_PORT}
      - 1080:1080
    environment:
      TZ: ${TZ}
    networks:
      - web
      - zabbix
  
  frontend:
    image: dev_code_notes_frontend
    ports: 
      - 3001:3001
    volumes:
      - ./.nginx.local/nginx.local.conf:/etc/nginx/conf.d/default.conf
    networks:
      - web

  gateway:
    image: dev_code_notes_gateway
    ports:
      - ${GATEWAY_PORT}:${GATEWAY_PORT}
    environment:
      # uncomment when using https
      # HTTPS: true
      BACKEND_HOST: backend
      FRONTEND_HOST: frontend
      SSL_CRT_FILE: /app/.ssl/fullchain.pem
      SSL_KEY_FILE: /app/.ssl/privkey.pem
    healthcheck:
      test: wget --no-verbose --no-check-certificate --tries=1 --spider ${GATEWAY_PROTOCOL}://gateway:${GATEWAY_PORT} || exit 1
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 2s
    volumes:
      - ./.ssl/localhost.crt.pem:/app/.ssl/fullchain.pem
      - ./.ssl/localhost.key.pem:/app/.ssl/privkey.pem
    networks:
      - web

  zabbix-server:
    image: zabbix/zabbix-server-mysql:7.4-ubuntu-latest
    restart: always
    depends_on:
      - db
    environment:
      DB_SERVER_HOST: db
      DB_SERVER_PORT: ${DB_PORT}
      MYSQL_DATABASE: ${ZABBIX_DB_NAME}
      MYSQL_USER: ${ZABBIX_DB_USER}
      MYSQL_PASSWORD: ${ZABBIX_DB_PASSWORD} 
      ZBX_LISTENPORT: ${ZABBIX_SERVER_PORT}
      TZ: ${TZ}
    ports:
      - ${ZABBIX_SERVER_PORT}:${ZABBIX_SERVER_PORT} 
    networks:
      zabbix:

  zabbix-agent:
    depends_on:
      - zabbix-server
    image: zabbix/zabbix-agent2:7.4-ubuntu-latest
    environment:
      ZBX_HOSTNAME: ${ZABBIX_GATEWAY_LOCAL_IP4}
      ZBX_SERVER_HOST: ${ZABBIX_GATEWAY_LOCAL_IP4}
      ZBX_SERVER_PORT: ${ZABBIX_SERVER_PORT}
    ports:
      - ${ZABBIX_AGENT_PORT}:${ZABBIX_AGENT_PORT}
    networks:
      zabbix:
      
  zabbix-ui: 
    image: zabbix/zabbix-web-nginx-mysql:7.4-ubuntu-latest
    restart: always
    depends_on:
      - db
      - zabbix-server
    ports:
      - ${ZABBIX_UI_PORT}:8080
      # - :8443
    environment:
      DB_SERVER_HOST: db
      DB_SERVER_PORT: ${DB_PORT}
      MYSQL_DATABASE: ${ZABBIX_DB_NAME}
      MYSQL_USER: ${ZABBIX_DB_USER}
      MYSQL_PASSWORD: ${ZABBIX_DB_PASSWORD}
      PHP_TZ: ${TZ}
      ZBX_SERVER_PORT: ${ZABBIX_SERVER_PORT}
      ZBX_SERVER_HOST: zabbix-server
    volumes:
      - .ssl/zabbix:/etc/ssl/nginx:ro
    networks:
      zabbix: 


networks:
  web:
    driver: 
      bridge

  zabbix:
    driver:
      bridge
    ipam:
      config:
          #  10.5.0.2 - 10.5.255.254
        - subnet: 10.5.0.0/16
          gateway: ${ZABBIX_GATEWAY_LOCAL_IP4}